body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 2em auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .container {
    background-color: #1f1f1f;
    color: #f0f0f0;
}

header {
    text-align: center;
    color: #3498db;
    margin-bottom: 20px;
}

main {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: inherit;
}

input {
    padding: 14px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: inherit;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #27ae60;
}

body.dark-mode #result {
    color: #2ecc71;
}

